[Unit]
Description=Tailscale Serve rule for Uptime Kuma
After=tailscaled.service wg0.service
Requires=tailscaled.service wg0.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/tailscale serve --bg --https=3003 localhost:3003

[Install]
WantedBy=multi-user.target
