[Unit]
Description=Tailscale Serve rule for Stirling PDF
After=tailscaled.service wg0.service
Requires=tailscaled.service wg0.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/tailscale serve --bg --https=8085 localhost:8084

[Install]
WantedBy=multi-user.target
