QBIT_PASSWORD=CHANGE_ME
PIHOLE_KEY=CHANGE_ME
HOMEPAGE_VAR_PIHOLE_KEY=CHANGE_ME
IMMICH_KEY=CHANGE_ME
JELLYFIN_KEY=CHANGE_ME
JELLYSEERR_KEY=CHANGE_ME
RADARR_KEY=CHANGE_ME
SONARR_KEY=CHANGE_ME
PROWLARR_KEY=CHANGE_ME
BAZARR_KEY=CHANGE_ME
